version: 2.1

job_defaults: &job_defaults
  parameters:
    python_image:
      type: string

    postgres_image:
      type: string

  environment:
    DJANGO_SECRET_KEY: test
    DJANGO_SETTINGS_MODULE: explorer.settings.test
    DEBUG: True
    OAUTHLIB_INSECURE_TRANSPORT: 1
    POSTGRES_DB: postgres
    POSTGRES_HOST: localhost
    POSTGRES_PASSWORD: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: postgres
    TEST_DATABASE_URL: postgresql://postgres@localhost:5432/postgres

  working_directory: ~/app

  docker:
    - image: <<parameters.python_image>>

    - image: <<parameters.postgres_image>>

  steps:
    - checkout

    - restore_cache:
         name: Restore pip cache
         keys:
           - de-<< parameters.python_image >>-{{ checksum "requirements.txt" }}
         paths:
           - ~/cache/pip

    - run:
        name: Install dependencies
        command: python -m pip install --cache-dir ~/cache/pip --progress-bar off -r requirements.txt

    - save_cache:
        name: Save pip cache
        key: de-<< parameters.python_image >>-{{ checksum "requirements.txt" }}
        paths:
          - ~/cache/pip

    - run:
        name: Install node
        command: curl -sL https://deb.nodesource.com/setup_10.x | bash && apt-get install -y nodejs

    - run:
        name: Compile assets
        command: |
          npm install
          ./scripts/compile_assets.sh

    - run:
        name: Run format checks
        command: |
          make check
    - run:
        name: Run tests
        command: |
          make run_tests


jobs:
  build:
    <<: *job_defaults

workflows:
  version: 2

  # Current standard environment
  Default build:
    jobs:
      - build:
          python_image: python:3.7.4
          postgres_image: postgres:10.5
