{% extends 'core/base.html' %}

{% load static %}

{% load i18n %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
	<div class="govuk-grid-column-full" id="query_area">
	    <p class="govuk-heading-m govuk-!-margin-bottom-2">
		Playground
	    </p>
	    <p class="govuk-body">The playground is for experimenting and writing ad-hoc queries. By default, nothing you do here will be saved.</p>

	    <form
		role="form"
		action="{% url 'explorer_playground' %}"
		method="post"
		id="editor">{% csrf_token %}

		<fieldset class="govuk-fieldset">
		    {% if error %}
		    <span class="govuk-error-message">
			<span class="govuk-visually-hidden">Error:</span> {{ error|escape }}
		    </span>
		    {% endif %}

		    {% if form.connections|length > 1 %}
		    <div class="govuk-form-group">
			<label class="govuk-label" for="id_connection">
			    Connection
			</label>
			{{ form.connection }}
		    </div>
		    {% else %}
		    {# still need to submit the connection, just hide the UI element #}
		    <div class="govuk-visually-hidden">
			{{ form.connection }}
		    </div>
		    {% endif %}

		    <div class="govuk-form-group">
			<label class="govuk-label" for="playground-sql">
			    Playground SQL
			</label>
			<textarea
			    class="govuk-textarea"
			    id="playground-sql"
			    name="sql"
			    placeholder="Write query here"
			    rows="10"
			    aria-describedby="playground-sql">{{ query.sql }}</textarea>
		    </div>

		    <div class="govuk-form-group">
			
			<button class="govuk-button" data-module="govuk-button">
			    Refresh
			</button>
			<button class="govuk-button" data-module="govuk-button" id="create_button">
			    Save and continue
			</button>
			<button class="govuk-button" data-module="govuk-button" id="download_csv">
			    Download CSV
			</button>
			<button class="govuk-button" data-module="govuk-button" id="download_excel">
			    Download Excel
			</button>
			
			<button class="govuk-button" data-module="govuk-button" id="download_json">
			    Download JSON
			</button>
			
			<button
			    class="govuk-button"
			    data-module="govuk-button"
			    id="show_schema_button"
			    type="button">
			    Show Schema
			</button>
			
			<button class="govuk-button" data-module="govuk-button" type="button">
			    Format
			</button>
			
		    </div>

		    <input type="govuk-visually-hidden" value="Playground Query" name="title" hidden/>
		    
		</fieldset>
	    </form>

	</div>

	<div id="schema" style="display: none;">
	    <iframe src="about:blank" height="828px" frameBorder="0" id="schema_frame"></iframe>
	</div>

    </div>
    
</div>

{% include 'explorer/preview_pane.html' %}

<script>
    document.getElementById("create_button").addEventListener("click", function(e){
	document.getElementById("editor").setAttribute("action", "../new/");
    });

    document.getElementById("download_csv").addEventListener("click", function(e){
	document.getElementById("editor").setAttribute("action", "../download?format=csv")
    });

    document.getElementById("download_excel").addEventListener("click", function(e){
	document.getElementById("editor").setAttribute("action", "../download?format=excel")
    });

    document.getElementById("download_json").addEventListener("click", function(e){
	document.getElementById("editor").setAttribute("action", "../download?format=json")
    });

    document.getElementById("show_schema_button")
    .addEventListener(
	"click",
	function(e) {
	    let element;
	    
	    document.getElementById("schema_frame")
		.setAttribute(
		    'src',
		    '../schema/' + document.getElementById('id_connection').value
		)

	    element = document.getElementById("query_area");
	    element.classList.remove("govuk-grid-column-full")
	    element.classList.add("govuk-grid-column-two-thirds");

	    element = document.getElementById("schema")
	    element.classList.add("govuk-grid-column-one-third");
	    element.style.display = "block";

	}
    );

    
    // ExplorerEditor.prototype.showSchema = function(noAutofocus) {
    //     if (noAutofocus === true) {
    //         $("#schema_frame").addClass('no-autofocus');
    //     }
    //     $("#query_area").removeClass("col-md-12").addClass("col-md-9");
    //     var schema$ = $("#schema");
    //     schema$.addClass("col-md-3");
    //     schema$.show();
    //     $("#show_schema_button").hide();
    //     $("#hide_schema_button").show();
    //     $.cookie('schema_sidebar_open', 1);
    //     return false;
    // };

    
</script>

{% endblock content %}
