{% extends 'core/base.html' %}

{% block title %}{% if form.errors %}Error: {% endif%}Data Explorer - Playground{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="query_area">
        {% if form.errors %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>
                                    <a href="#id_{{ field }}">{{ error }}</a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        
        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
        Playground
        </h1>
        <p class="govuk-body">The playground is for experimenting and writing ad-hoc queries. By default, nothing you do here will be saved.</p>

        <form
        role="form"
        action="{% url 'explorer_playground' %}"
        method="post"
        id="editor">{% csrf_token %}

        <fieldset class="govuk-fieldset">
            {% if form.connections|length > 1 %}
            <div class="govuk-form-group">
            <label class="govuk-label" for="id_connection">
                Connection
            </label>
            <select class="govuk-select" id="id_connection" name="connection">
                            {% for value, label in form.connections %}
                            <option value="{{ value|lower }}"{% if form.connection.value == value %} selected{% endif %}>
                {{ label }}
                </option>
                {% endfor %}
            </select>
            </div>
            {% else %}
            {# still need to submit the connection, just hide the UI element #}
            <div class="govuk-visually-hidden">
            {{ form.connection }}
            </div>
            {% endif %}

            <div class="govuk-form-group {% if form.sql.errors %} govuk-form-group--error {% endif %}">
            <p class="govuk-label">
                Playground SQL
            </p>
            {% if form.sql.errors %}
                {% for error in form.sql.errors %}
                    <span id="sql-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ error|escape }}
                    </span>
                {% endfor %}
            {% endif %}
            <div class="govuk-textarea" id="gov-uk-sql-wrapper" rows="10">
                   <div id="ace-sql-editor">{% if form.sql.value %}{{ form.sql.value }}{% endif %}</div>
            </div>
            <textarea aria-label="Sql" style="display: none;" name="sql">{% if form.sql.value %}{{ form.sql.value }}{% endif %}</textarea>

            <div class="govuk-form-group">
            
            <button class="govuk-button" data-module="govuk-button">
                Refresh
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="create_button">
                Save and continue
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="download_csv">
                Download CSV
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="download_excel">
                Download Excel
            </button>
            
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="download_json">
                Download JSON
            </button>
            
            <button
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button"
                id="show_schema_button"
                type="button">
                Show Schema
            </button>
            
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" id="format_button">
                Format
            </button>
            
            </div>

            <input aria-label="Title" type="govuk-visually-hidden" value="Playground Query" name="title" hidden/>
            
        </fieldset>
        </form>

    </div>

    <div id="schema" style="display: none;">
        <iframe src="about:blank" height="828px" frameBorder="0" id="schema_frame"></iframe>
    </div>

    </div>
    
</div>

{% include 'explorer/preview_pane.html' %}

{% load render_bundle from webpack_loader %}
{% render_bundle 'query' %}

{% endblock content %}
