{% extends "explorer/base.html" %}

{% block sql_explorer_navlinks %}
    <li><a href="{% url "query_create" %}">New Query</a></li>
    <li><a href="{% url "explorer_playground" %}">Playground</a></li>
    <li><a href="{% url "explorer_logs" %}">Logs</a></li>
    <li class="active"><a href="{% url "connection_browser_list" %}">Table browser</a></li>
{% endblock %}

{% block sql_explorer_content %}
<h3>All connections</h3>
<div class="table-responsive">
    <table class="table table-striped query-list">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for alias, connection in connections.items %}
            <tr>
                <td>{{ alias }}</td>
                <td><a href="{% url "table_browser_list" connection=connection %}">Connect</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}