{% extends "explorer/base.html" %}
{% load explorer_tags %}

{% block sql_explorer_navlinks %}
    <li><a href="{% url "query_create" %}">New Query</a></li>
    <li><a href="{% url "explorer_playground" %}">Playground</a></li>
    <li><a href="{% url "explorer_logs" %}">Logs</a></li>
    <li class="active"><a href="{% url "connection_browser_list" %}">Table browser</a></li>
{% endblock %}

{% block sql_explorer_content %}
<a href="{% url "table_browser_list" connection %}">Back to {{ connection }}</a>
<h3>{{ schema_name }} - {{ table_name }}</h3>
<form action="{{ request.path }}" method=GET>
  <div class="table-responsive">
      <a href="{{ request.path }}">Reset filters</a>
      <table class="table table-striped query-list">
          <thead>
              <tr>
                  {% for field, choices in fields %}
                    <th>
                      <select name="{{ field }}" onchange="this.form.submit()">
                          <option value="">Filter</option>
                        {% for choice in choices %}
                            <option {% if request.GET|get_item:field == choice %} selected=selected {% endif %}>{{ choice }} </option>
                          {% endfor %}
                      </select>
                      <br>
                      {% with "-"|add:field as down_sorted_field %}
                        <button type="button" onclick="$('#order_by_button').val('{% if request.GET.order_by == down_sorted_field %}{{ field }}{% elif request.GET.order_by == field %}-{{ field }}{% else %}{{field }}{% endif %}');this.form.submit();">
                          {{ field }} {% if request.GET.order_by == down_sorted_field %}&darr;{% elif request.GET.order_by == field %}&uarr;{% endif %}
                        </button>
                      {% endwith %}
                    </th>
                  {% endfor %}
                  <input type="hidden" name="order_by" id="order_by_button" value="{{request.GET.order_by}}"/>
              </tr>
          </thead>
          <tbody>
            {% for object in objects %}
              <tr>
                  {% for field, value in object.fields.items %}
                    <th>{{ value }}</th>
                  {% endfor %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <div class="pagination">
    Page {{ objects.number }} of {{ objects.paginator.num_pages }}
    <br />
    {% if objects.has_previous %}
      <button type="submit" name="page" value="{{ objects.previous_page_number }}">Previous</button>
    {% endif %}
    {% if objects.has_next %}
        <button type="submit" name="page" value="{{ objects.next_page_number }}">Next</button>
    {% endif %}
  </div>
</form>

{% endblock %}