COMPOSE_IGNORE_ORPHANS=True
COMPOSE_PROJECT_NAME=data
DEBUG=True
POSTGRES_DB=postgres
POSTGRES_HOST=explorer_db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
AUTHBROKER_URL=https://sso.trade.gov.uk/
AUTHBROKER_CLIENT_ID=123
AUTHBROKER_CLIENT_SECRET=456
MULTIUSER_DEPLOYMENT=True
REDIS_URL=redis://explorer_redis:6379/
C_FORCE_ROOT=True
