{% load explorer_tags %}

{% if headers %}

<div class="govuk-grid-row">
    <div class="govuk-width-container">
		<p class="govuk-heading-m govuk-!-margin-bottom-2">
			Preview
		</p>
		<p class="govuk-body">
			Execution time: {{ duration|format_duration }}
		</p>
		<p class="govuk-body">
			{% if rows > total_rows %}
			Showing {{ total_rows }} from a total of {{ total_rows }}
			{% else %}
			Showing {{ rows }} rows from a total of {{ total_rows }}
			{% endif %}
		</p>

		<div class="scrollable-table">
			<table class="govuk-table">
				<thead class="govuk-table govuk-!-font-size-16">
				<tr class="govuk-table__row">
					{% for header in headers %}
					<th class="govuk-table__header">{{ header }}</th>
					{% endfor %}
				</tr>

				<tbody class="govuk-table__body">
					{% if data %}
					{% for row in data %}
					<tr class="govuk-table__row">
					{% for column in row %}
					<td class="govuk-table__cell">
						{{ column }}
					</td>
					{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>

				</thead>
			</table>
    	</div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <form id="fetch-page" class="app-pagination-controls">
          <span class="govuk-label app-label--inline" for="query-page">Show page </span>
          <input class="govuk-input govuk-input--width-5 app-input--inline" id="query-page" name="query-page" value="{{ page }}" />
          <span class="govuk-body"> with </span>
          <input class="govuk-input govuk-input--width-5 app-input--inline" id="query-rows" name="query-rows" value="{{ rows }}" type="number" />
          <span class="govuk-label app-label--inline" for="query-rows"> results per page</span>
          <input class="govuk-button govuk-!-margin-left-5" type="submit" value="Fetch page" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}
