{% load sass_tags %}

<html>
    <head>
        {% block styles %}
            <link href="{% sass_src 'css/global.css' %}" rel="stylesheet" media="all"/>
            <link href="{% sass_src 'css/custom.css' %}" rel="stylesheet" media="all"/>
        {% endblock styles %}
    </head>
    <body>
    <div class="govuk-width-container schema-wrapper" id="schema-wrapper-loaded">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-2" id="schema-heading">Schema is building...</h1>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2" id="schema-summary">Please wait a minute.</h3>
    </div>

    <script type="text/javascript">
        var interval_time = 1000
        
        function get_schema(dataset, interval) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                if (xmlhttp.status == 200) {
                var response = JSON.parse(xmlhttp.responseText);
                if (response.schema !== "") {
                    document.getElementById("schema-wrapper-loaded").innerHTML = response.schema;
                    clearInterval(interval);
                }
                }
                else {
                document.getElementById("schema-heading").innerHTML = 'Failed';
                document.getElementById("schema-summary").innerHTML = 'Could not build schema';
                clearInterval(interval);
                }
            }
            };
            xmlhttp.open("GET", "{% url 'explorer_schema' connection=connection %}", true);
            xmlhttp.send();
        }
        
        window.onload = function() {
            var connection = '{{ connection }}';
            var schema = '{{ schema | escapejs }}';
            if (schema !== "") {
            document.getElementById("schema-wrapper-loaded").innerHTML = schema;
            } else {
            const interval = setInterval(function() {
                get_schema('{{ connection }}', interval);
            }, interval_time);
            get_schema('{{ connection }}', interval);
            }
        }
        </script>

    {% load render_bundle from webpack_loader %}
    {% render_bundle 'schema' %}

    </body>
</html>
